# This is Goal #3

In [1]:
a = "Hello"

In [2]:
2 + 2

4

In [3]:
1.5 + 2.25

3.75

In [4]:
4 -2

2

In [7]:
100-.5

99.5

In [8]:
0-2

-2

In [9]:
2*3

6

In [13]:
4/2

2.0

In [11]:
type(1)

int

In [12]:
type(1.0)

float

In [14]:
type(4)

int

In [17]:
x = 4
type(x)
2*x

8

In [18]:
magic_number = 1500
amountOfFlour = .75
my_name = "Nate"

In [19]:
4

4

In [20]:
x = 4

In [21]:
x = 4
x
x=5
x

5

In [24]:
x=3
y=4
x*y
x*x
(2*x)-(1*y)

2

In [25]:
"Hello"
"Python, I'm your #1 fan!"

"Python, I'm your #1 fan!"

In [28]:
type("Hello")

str

In [29]:
type(1)

int

In [30]:
type("1")

str

In [31]:
"Hello" + "World"

'HelloWorld'

In [32]:
name = "Nate"
"Hello " + name

'Hello Nate'

In [35]:
"Hello " + str(1)

'Hello 1'

In [36]:
len("Hello")

5

In [37]:
len("")

0

In [40]:
fish = "humuhumunukunukuapua'a"
name_length = len(fish)
fish + " is a Hawaiian fish whose name is " + str(name_length) + " characters long."

"humuhumunukunukuapua'a is a Hawaiian fish whose name is 22 characters long."

In [41]:
"I'm a happy camper"

"I'm a happy camper"

In [42]:
"A" * 40

'AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA'

In [43]:
"ABC" * 12

'ABCABCABCABCABCABCABCABCABCABCABCABC'

In [46]:
h = "Happy "
b = "Birthday! "
(h + b) * 10

'Happy Birthday! Happy Birthday! Happy Birthday! Happy Birthday! Happy Birthday! Happy Birthday! Happy Birthday! Happy Birthday! Happy Birthday! Happy Birthday! '

In [48]:
total = 1.5 - 1/2
total
print(total)
print(type(total))

1.0
<class 'float'>

In [52]:
a = "quick"
b = "brown"
c = "fox jumps over the lazy dog"
print("The " + a * 3 + " " + b * 3 + " " + c)

The quickquickquick brownbrownbrown fox jumps over the lazy dog

# I guess this is part 2

In [55]:
if 6 > 5:
    print("Six is greater than five!")

Six is greater than five!

In [58]:
if 0 > 2:
    print ("Zero is greater than two!")

In [59]:
if "banana" in "bananarama":
    print ("I miss the 80S")

I miss the 80S

In [60]:
sister_age = 15
brother_age = 12
if sister_age > brother_age:
    print ("sister is older")
else:
    print("brother is older")

sister is older

In [62]:
1 > 0 and 1 < 2

True

In [63]:
 1 < 2 and "x" in "abc"

False

In [65]:
"a" in "hello" or "e" in "hello"

True

In [66]:
1 <= 0 or "a" not in "abc"

False

In [67]:
temperature = 32
if temperature > 60 and temperature < 75:
    print("It's nice and cozy in here!")
else:
    print("Too extreme for me.")

Too extreme for me.

In [68]:
hour = 11
if hour < 7 or hour > 23:
    print("Go away!")
    print("I'm sleeping")
else:
    print("Welcome to the cheese shop!")
    print("Can I interested you in some choice gouda?")

Welcome to the cheese shop!
Can I interested you in some choice gouda?

In [69]:
sister_age = 15
brother_age = 12
if sister_age > brother_age:
    print("sister is older")
elif sister_age == brother_age:
    print("sister and brother are the same age")
else:
    print ("brother is older")

sister is older

In [70]:
color = "orange"
if color == "green" or color == "red":
    print("Christmas color!")
elif color == "black" or color == "orange":
    print("Halloween color!")
elif color == "pink":
    print("Valentine's Day color!")

Halloween color!

In [71]:
type(True)

bool

In [72]:
type(False)

bool

In [73]:
0 == 0

True

In [74]:
0 == 1

False

In [77]:
"a" != "a"

False

In [78]:
"a" != "A"

True

In [79]:
1 > 0

True

In [80]:
2 >= 3

False

In [81]:
-1 < 0

True

In [82]:
.5 <= 1

True

In [83]:
"H" in "Hello"

True

In [84]:
"X" in "Hello"

False

In [85]:
"a" not in 'abcde'

False

In [86]:
'Perl' not in 'Python workshop'

True

# This begins Goal #5

well, I guess nothing goes in here then.